doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iure ad ipsam in vel iusto quam sed cumque fugiat animi quia officia, illo voluptatem beatae impedit nobis est minima velit dolorum libero cum sequi explicabo quasi! Quae animi perferendis aut inventore beatae. Pariatur corrupti quas eligendi quos veniam eos sed provident incidunt debitis corporis ut, tempora delectus eaque totam voluptas atque ea quia rerum iusto. Reprehenderit deleniti maiores adipisci consequatur.