extends layout.pug

block content
  section#content
    table
      tr
        th Firstname
        th Lastname
      each person in people
        tr  
          td= person.first
          td= person.last